*{
    margin: 0;
    padding: 0;
}
.fix-width{
    width: 1240px;
    margin: auto;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/* header */
.header-section{
    background:#22c3a3 ;
    padding: 20px 0;
}
.header-section .logo a{
    color: #fff;
    float: left; 
    width: 30%;
    font-size: 30px; 
    text-decoration: none;
}
.header-section .menu-section{
    float: right;
    width: 70%;
}
.menu-section ul{
    text-align: right;
}
.menu-section ul li{
    display: inline-block;
}
.menu-section ul li a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 15px ;
    text-transform: uppercase;
    transition: .5s;
}
.menu-section ul li a:hover{
    color:#555555 ;
}
/* banner-section */
.banner-section{
    background-image:url(https://i.ibb.co/PGSBxwM/header-bg01.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px;
    text-align: center;
}
.banner-section .text-div h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    padding-bottom: 20px;
}
.banner-section .text-div h5{
    color: #d0f3ec;
    font-size: 20px;
    padding-bottom: 70px;
}
.banner-section .text-div a{
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: .3s;
}
.banner-section .text-div a:hover{
    color:#555555 ;
    border: 2px solid #555555;
    border-radius: 5px;
}
/* service-section */
.service-section .text{
    text-align: center;
    margin-top: 90px;
}
.service-section .text h2{
    color:#555555 ;
    font-size: 35px;
    padding-bottom: 25px;
}
.service-section .text p{
    color: #555555;
    font-family: "open sans";
    padding-bottom: 100px;
}
.service-section {
    border-bottom: 2px solid #0dbf9b ;
}
.service-section .service-box .box1{
    float: left;
    width:22% ;
    text-align: center;
    margin: 16px;
}
.box1 span{
    color: #0dbf9b;
    font-size: 30px;
}
.box1 h3{
    color:#555555 ;
    padding: 20px;
    font-size: 25px;
}
.box1 p{
    font-family: "open sans";
    color:#555555 ;
    width: 90%;
    margin: auto;
    margin-bottom: 120px;
}
/* about-section */
.about-section .word{
    text-align: center;
    margin-top: 70px;
}
.about-section .word h2{
    color:#555555 ;
    font-size: 32px;
    padding-bottom: 20px;
}
.about-section .word p{
    font-family: "open sans";
    padding-bottom: 60px;
}
.image{
    float: left;
    width: 40%;
}
.image img{
    width: 90%;
    height: 338px;
}
.word-section{
    float: right;
    width:60% ;
    padding-bottom: 70px;
}
.word-section h3{
    color:#555555 ;
    font-family: "open sans";
    padding-bottom: 15px;
}
.word-section p{
    color: #555555;
    font-family: "open sans";
    padding-bottom: 12px;
}
/* contact-section */
.contact-section {
    text-align: center;
    background:#f6f6f6 ;
}
.contact{
    text-align: center;
}
.contact h1{
    color:#555555 ;
    font-size: 30px;
    padding-top: 90px;
}
.contact p{
    font-family: "open sans";
    padding-top: 20px;
    padding-bottom: 70px;
}
.cotact-1{
    background:#f6f6f6 ;
}
.contact-section .cotact-1 .b1{
    float: left;
    width: 33.3%;
}
.cotact-1 .b1 span{
    color:#0dbf9b ;
    font-size: 20px;
}
.cotact-1 p{
    font-family: "open sans";
    padding: 10px 0;
    margin-bottom: 90px;
}
/* footer */
.footer-section{
    background:#0dbf9b ;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 22px;
    margin: auto;
    margin-left: 0px;
}
.footer-section span{
    color: #fff;
    font-size: 30px;
    padding: 12px;
}
.footer{
    background:#222222 ;
    padding: 15px;
    text-align: center;
}
.footer p{
    color:#525252 ;
    margin-bottom: 0;
}